[View in Colaboratory](https://colab.research.google.com/github/manan-arya/hackathon_bvp/blob/master/main.ipynb)

In [0]:
import pandas as pd
import numpy as np

In [86]:
!wget https://raw.githubusercontent.com/manan-arya/hackathon_bvp/master/backend/section_data.csv

Redirecting output to ‘wget-log.4’.

In [0]:
data = pd.read_csv('section_data.csv')

In [88]:
data.head()

   section_1                 description
0        143  code_of_criminal_procedure
1        169        right_to_information
2        198            human_trafficing
3        324                         NaN

In [0]:
data.replace(np.nan,'-',inplace = True)

In [0]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [0]:
le = LabelEncoder()
data.iloc[:,-1] = le.fit_transform(data.iloc[:,-1])

In [92]:
data.head()

   section_1  description
0        143            1
1        169            3
2        198            2
3        324            0

In [0]:
#import sys

#i1 = sys.argv[1]
#i2 = sys.argv[2]

In [0]:
i1 ='code_of_criminal_procedure'
i2 = 'right_to_information'

In [0]:
useless_dict = {'description':[i1,i2]}

In [0]:
useless = pd.DataFrame(useless_dict)

In [96]:
useless

                  description
0  code_of_criminal_procedure
1        right_to_information

In [97]:
le.transform(useless)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([1, 3])

In [0]:
for i in range(len(data)):
  if i1 == data.iloc[i,-1]:
    loc_1 = i
    break

In [0]:
for i in range(len(data)):
  if i2 == data.iloc[i,-1]:
    loc_2 = i
    break

In [100]:
print(loc_2)
loc_1

1

0

In [0]:
entry_dict = {'section_1':[data.section_1[loc_1]],'section_2':[data.section_1[loc_2]]}

In [0]:
entry = pd.DataFrame(entry_dict)

In [103]:
entry.head()

   section_1  section_2
0        143        169

In [104]:
!wget https://raw.githubusercontent.com/manan-arya/hackathon_bvp/master/backend/section_data_2.csv

Redirecting output to ‘wget-log.5’.

In [0]:
data_check = pd.read_csv('section_data_2.csv')

In [106]:
data_check

   section_1  section_2  label
0        144      153.0      1
1        243      172.0      1
2        169      238.0      0
3        132      343.0      1
4        114      232.0      0
5        329        NaN      0
6        441        NaN      0
7        273        NaN      1
8        127        NaN      0

In [0]:
from sklearn.neighbors import KNeighborsClassifier

In [0]:
knn = KNeighborsClassifier()

In [0]:
data_check.replace(np.nan,0,inplace = True)

In [0]:
X = data_check.drop('label', axis = 1)

In [0]:
y = data_check['label']

In [112]:
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [113]:
knn.predict(entry)

array([0])