[View in Colaboratory](https://colab.research.google.com/github/manan-arya/hackathon_bvp/blob/master/main.ipynb)

In [0]:
import pandas as pd
import numpy as np

In [2]:
!wget https://raw.githubusercontent.com/manan-arya/hackathon_bvp/master/backend/sec_data.csv?token=AZJtDfwglpuhNzGChv5M3SStGjliTnZBks5bt6QOwA%3D%3D

Redirecting output to ‘wget-log’.

In [0]:
data = pd.read_csv('sec_data.csv?token=AZJtDfwglpuhNzGChv5M3SStGjliTnZBks5bt6QOwA%3D%3D')

In [4]:
data.head()

Empty DataFrame
Columns: [section_1]
Index: []

In [7]:
!wget https://raw.githubusercontent.com/manan-arya/hackathon_bvp/master/backend/section_data.csv?token=AZJtDcickjOqyoSo9dK4EsrbinApUoQ9ks5bt6aUwA%3D%3D

Redirecting output to ‘wget-log.2’.

In [0]:
data_x=pd.read_csv('section_data.csv?token=AZJtDcickjOqyoSo9dK4EsrbinApUoQ9ks5bt6aUwA%3D%3D')

In [9]:
data_x.head()

   section_1                 description
0        143  code of criminal procedure
1        169        right to information
2        198            human trafficing
3        324                         NaN